
@media only screen and (max-width: 2200px){
  .display-box{
    border-radius: 5px;
    width: 25rem;
    height: 100%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  }
  p{
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1680px){
  .display-box{
    border-radius: 5px;
    width: 15rem;
    height: 100%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  }
  p{
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 1440px){
  .display-box{
    border-radius: 5px;
    width: 17rem;
    height: 100%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  }
  p{
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 1280px){
  .display-box{
    border-radius: 5px;
    width: 17rem;
    height: 100%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  }

}

summary div p {
  display: inline;
}
.top-bar{
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 5%;
  background-color: #1254B9;
  z-index: 0;
}

.treeview{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 2rem auto;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 50rem;
}
.head-item{
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: 1rem;
  margin-bottom: 3px;
}
.item{
  display: flex;
  align-items: center;
  gap: 2px;
}
li{
  margin-left: 2rem;
}
li.head{
  margin-left: 2rem;
}
ul{
  line-height: 2em;
  list-style: none;
}

summary{
  cursor: pointer;
  outline: none;
  list-style: none;
}

summary::marker{
  z-index:-5;
}
summary::-webkit-details-marker  {
  display: none
}

summary label svg{
  display: block;
}

ul li{
  position: relative;
}
ul li::before{
  position: absolute;
  left: -20px;
  top: -5px;
  border-bottom: 2px solid rgb(37, 37, 37);
  border-left: 2px solid rgb(37, 37, 37);
  content: "";
  width: 20px;
  height: 1.4em;
}
ul li::after{
  position: absolute;
  left: -20px;
  bottom: 0px;
  border-left: 2px solid rgb(37, 37, 37);
  content: "";
  width: 10px;
  height: 100%;
}

ul li:last-child::after{
  display: none;
}


.checkbox-wrapper-33 {
  --s-xsmall: 0.625em;
  --s-small: 1.2em;
  --border-width: 1px;

  --c-primary-20-percent-opacity: rgb(18 84 185 / 20%);
  --c-primary-10-percent-opacity: rgb(18 84 185 / 10%);
  --t-base: 0.4s;
  --t-fast: 0.2s;
  --e-in: ease-in;
  --e-out: cubic-bezier(0.11, 0.29, 0.18, 0.98);
  margin-left: 0px;

}

.checkbox-wrapper-33 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox-wrapper-33 .checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: rgb(0, 0, 0);
}

.checkbox-wrapper-33 .checkbox + .checkbox {
  margin-top: var(--s-small);
}

.checkbox-wrapper-33 .checkbox__symbol {
  display: inline-block;
  display: flex;
  margin-right: 0.2rem;
  border: var(--border-width) solid #ff2e27;
  position: relative;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  transition: box-shadow var(--t-base) var(--e-out),
    background-color var(--t-base);
  box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
}

.checkbox-wrapper-33 .checkbox__symbol:after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 0.25em;
  height: 0.25em;
  background-color: var(--c-primary-20-percent-opacity);
  opacity: 0;
  border-radius: 3em;
  transform: scale(1);
  transform-origin: 50% 50%;
  border: var(--border-width) solid #52ff27;
}

.checkbox-wrapper-33 .checkbox .icon-checkbox {
  width: 1em;
  height: 1em;
  margin: auto;
  fill: none;
  stroke-width: 3;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  color: #52ff27;
  display: inline-block;
}
.checkbox__symbol .checkbox__trigger:checked + .checkbox__symbol:after{
  border: var(--border-width) solid #52ff27;
}

.checkbox-wrapper-33 .checkbox .icon-checkbox path {
  transition: stroke-dashoffset var(--t-fast) var(--e-in);
  stroke-dasharray: 30px, 31px;
  stroke-dashoffset: 31px;
}

.checkbox-wrapper-33 .checkbox__textwrapper {
  margin: 0;
  color: black;
}

.checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol:after {
  -webkit-animation: ripple-33 1.5s var(--e-out);
  animation: ripple-33 1.5s var(--e-out);
}

.checkbox-wrapper-33
  .checkbox__trigger:checked
  + .checkbox__symbol
  .icon-checkbox
  path {
  transition: stroke-dashoffset var(--t-base) var(--e-out);
  stroke-dashoffset: 0px;

}
.checkbox__trigger:checked + .checkbox__symbol{
  border: var(--border-width) solid #52ff27;
}
.checkbox-wrapper-33 .checkbox__trigger:focus + .checkbox__symbol {
  box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);

}

@-webkit-keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(20);
  }
}

@keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(20);

  }
}
