<app-navbar></app-navbar>
<app-toolbar></app-toolbar>
<div class="container">
  <div class="display">
    <app-display-file></app-display-file>
    <app-display-document></app-display-document>
    <app-display-vote></app-display-vote>
  </div>
</div>
<app-message-box [textBarcode]="MessageBox.documentCode" [callYes]="MessageBox.yes" [callNo]="MessageBox.no" [isOpen]="MessageBox.open" [isProcessBox]="MessageBox.type" [textHead]="MessageBox.head_message" [textContent]="MessageBox.content_message"></app-message-box>
<router-outlet></router-outlet>

