<div>
  <div class="nav"><app-navbar></app-navbar></div>
<div class="tool"><app-toolbar></app-toolbar></div>
<div class="container">
  <div class="display1">
    <app-display-file></app-display-file>
  </div>
  <div class="display2">
    <app-display-document></app-display-document>
  </div>
  <div class="display3">
    <app-display-vote></app-display-vote>
  </div>
</div>
<app-message-box [textBarcode]="MessageBox.documentCode" [callYes]="MessageBox.yes" [callNo]="MessageBox.no" [isOpen]="MessageBox.open" [isProcessBox]="MessageBox.type" [textHead]="MessageBox.head_message" [textContent]="MessageBox.content_message"></app-message-box>
</div>
<router-outlet></router-outlet>

